.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 34px 32px 110px 35px;

  &__image {
    width: 300px;
    height: 300px;

    margin: 34px 0 17px 0;
  }

  &__title {
    color: $dark-color;

    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;

    min-width: 282px;
    height: 31px;

    margin-bottom: 26px;

  }

  &__text {
    color: $dark-color;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

    width: 299px;
    height: 46px;

    margin-bottom: 64px;

  }

  &__input {
    display: flex;
    gap: 17px;
    margin-bottom: 63px;

    label {
      content: "";
      display: inline-block;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
    }

    input {
      display: none;
    }

    .bord {
      width: 10px;
      height: 10px;
      border: 1px solid black;
    }

    .selected {
      width: 12px;
      height: 12px;
      background-color: $primary-color;

    }

  }

  &__button {
    width: 308px;
    height: 54px;
    cursor: pointer;

    background-color: $primary-color;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 128.91%;
    color: #FFFFFF;

    box-shadow: 0px 4px 10px #A1C3FC;

  }

  &__anchor {
    font-family: 'Poppins';
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    color: $primary-color;

    margin-top: 42px;

  }

}

#page2 {
  display: none;
}

#page3 {
  display: none;
}

@media (max-width: 330px) {
  body {
    width: 270px;
  }
}