//   COLORS   //
$primary-color: #92E3A9;
$box-shadow: #A1C3FC;
$light-color: #FFFFFF;
$dark-color: #000000;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');